services:
  web:
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - app.env
    depends_on:
      - db
  db:
    image: postgres:18-alpine
    env_file:
      - postgres.env
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
