services:
  web:
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - app.env
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:18-alpine
    env_file:
      - postgres.env
    volumes:
      - /opt/notes-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 2s
      retries: 10